.toolbarButton {
    display: block;
    padding: 0;
    margin: 0;
    border-width: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.toolbarButton.pageUp {
    position: absolute;
    width: 18%;
    height: 100%;
    left: 0;
    background-image: url(assets/images/icon_previous_page.png);
    background-size: 2rem;
}

.toolbarButton.pageDown {
    position: absolute;
    width: 18%;
    height: 100%;
    left: 18%;
    background-image: url(assets/images/icon_next_page.png);
    background-size: 2rem;
}