.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  color: white;
}

.App-intro {
  font-size: large;
}

/*.ui-accordion-unread.ui-accordion-header.ui-state-default {*/
  /*background: #fffcd7*/
/*}*/