.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/*.ui-accordion-unread.ui-accordion-header.ui-state-default {*/
  /*background: #ffe4c4*/
/*}*/